wifi_ssid: wifi_name
wifi_password: wifi_password
ap_password: XXXXXXXX
gateway: 192.168.XX.XX
subnet: 255.255.255.0
dns1: 8.8.8.8
dns2: 8.8.4.4

particulate_matter_static_ip: 192.168.XX.XX
particulate_matter_api_password: api_password
particulate_matter_ota_password: ota_password

luftdaten_x_sensor: esp8266-XXXXXXXX
opensensemap_url: https://api.opensensemap.org/boxes/XXXXXXXX/data?luftdaten=1
opensensemap_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
